* {
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header, #main-section, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo {
    border-radius: 20px;
}

#header-links{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-right: 20px;
    font-size: 18px;
}


a {
    font-size: 18px;
    color: #E5E7EB;
}

#main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-shrink: 1;
    padding: 100px;
    color: #E5E7EB;
}

#website-description {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

button {
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    color: #E5E7EB;
}

#subtexts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

#customer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: 10px;
    border-color:aliceblue;
}

.quote {
    background-color: #e5e7eb4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    padding-left: 300px;
    padding-right: 300px;
}

#sign-up-container {
    background-color:#3882F6;
    gap: 18px;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
}

#sign-up, #sign-up-container, #sign-up-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

#sign-up-text {
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}



